.side-container {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 0;
    right: 0;
  }

  .menu-sidenav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    background: rgba(16, 16, 29, 0.9);
  }

  .menu-sidenav a{
    color: white;
  }