<section class="sessao-dashboard">
    <mat-card class="card-dashboard">
        <mat-card-header>
            <mat-card-title>VENDAS MENSAL</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>R$ 13.000,00</h2>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-dashboard">
        <mat-card-header>
            <mat-card-title>VENDA SEMANAL</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>R$ 2.000,00</h2>
        </mat-card-content>
    </mat-card>
    <mat-card class="card-dashboard">
        <mat-card-header>
            <mat-card-title>SEM ESTOQUE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h2>17 produtos</h2>
        </mat-card-content>
    </mat-card>

</section>
